<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Инфо</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="container mt-5">
    <h1>Info</h1>
    <div th:each="el : ${posts}" class="alert alert-info mt-2">
        <h3 th:text="${el.title}"/>
        <p th:text="${el.anonce}"/>
        <a th:href="'/info/' + ${el.id}" class="btn btn-warning">Info</a>
    </div>
</div>
<div th:insert="blocks/footer :: footer"></div>

</body>
</html>